<!DOCTYPE html>
<html>
<head><meta name="viewport" content="width=device-width, initial-scale=1"></head>
<header><title>show_attendance</title></header>
<h1>your attendance </h1>
<body>
<h2><p>total attendance</p></h2>
<br>
<p>total percentage: {{ total_percentage }}</p>
<br>

<h2><p>subject wise attendance </p></h2>
<br>
<p>sub1: {{ sub1_percentage }}</p>

<p>sub2: {{ sub2_percentage }}</p>

<p> sub3: {{ sub3_percentage }}</p>

<p> sub4: {{ sub4_percentage }}</p>

<p>sub5: {{ sub5_percentage }}</p>

<p>sub6: {{ sub6_percentage }}</p>

<p>sub7: {{ sub7_percentage }}</p>
<br>

<a href="/attendance">back</a>
<br>
<br>
<br>
<br>

</body>


</html>
